* {
  margin: 0;
  padding: 0;
}

body {
  margin: 8px;
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button {
  outline: none;
  background: none;
  border: 0px;
}



.more-details {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.more-details__image {
  display: block;
  width: 100%;
}

.more-details__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .more-details {
    text-align: center;
  }
}



.main {
  margin: 46px auto 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 500px;
}

.action-section__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin: 0;
  text-transform: uppercase;
}



.task-list > .task {
  border-bottom: 1px solid #eee;
}

.task {
  display: flex;
  padding: 20px 0px;
  font-family: Lato, sans-serif;
  align-items: center;
}

.task__toggle {
  margin: 10px;
}

.edit-mode .task__name {
  display: none;
}

.task__name {
  flex: 1 1 auto;
  padding-left: 10px;
  font-size: 18px;
  line-height: 21px;
}

.edit-mode .task__input {
  display: block;
}

.task__input {
  display: none;
  flex: 1 1 auto;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 21px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  color: #888;
}

.task__input:focus {
  color: #333;
}

.task__action {
  width: 60px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  color: #888;
}

.task__action:hover {
  color: #3a3A3a;
  cursor: pointer;
}

.task__delete {
  width: 60px;
  text-align: center;
}

.task__delete-image {
  height: 30px;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete-image:hover {
  transform: rotateZ(0deg);
  cursor: pointer;
}



#completed-tasks .task__name {
  text-decoration: line-through;
  color: #888;
}
